extends layouts/main
include mixins/videoBlock

block content 
    .user-profile
        .user-profile__header
            img.profile__avatar(src=user.avatarUrl)
            h4.profile__username=user.name
            h4.profile__useremail=user.email
        if (loggedUser && (user.id === loggedUser.id))
            .user-profile__btns 
                a(href=`/users${routes.editProfile}`)
                    button Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button Change Password           
        .video-list
            each video in user.videos 
                +videoBlock({
                    id: video.id,
                    title: video.title,
                    views: video.views,
                    fileUrl: `/${video.fileUrl}`
                })

